@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --color-bg-light: #F3F3F3;
  --color-bg-charcoal: #232323;
}
.dark {
  --color-bg-light: #232323;
  --color-bg-charcoal: #F3F3F3;
}
